<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <div class="header">
        <nav  class="navbar navbar-expand-lg  bg-info   justify-content-between list-style-type: none ; ">
         
      
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      
    
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"> <a class="nav-link" style="font-size: x-large; font-family: 'Times New Roman', Times, serif; font-weight: bolder;  padding-left: 0px; font-variant: normal;">    CREATE A NEW  BILL FOR PATIENT   ....</a></li>
        
        <li> <a class="nav-link" routerLink="/login" routerLinkActive="active" style="font-size: x-large; font-family: 'Times New Roman', Times, serif; padding-left: 800px;"> LOGOUT</a></li>
        <!-- <a class="nav-link" routerLink="/patientInfo" routerLinkActive="active" style="font-size: x-large; font-family: 'Times New Roman', Times, serif; "> PROFILE</a></li> -->
        
      </ul>
    </div>
  </nav>
  </nav>
  </div>
  </header>
<body>
    
<h3 class="text-center">Generate Bill</h3>
    <div class=" col-md-6 offset-md-3">
        <form  #b=ngForm (ngSubmit)="b.form.valid&&onSubmit()" novalidate>
            <div class="form-group">
                <label>Patient ID::</label>
                <input type="text" class="form-control" id="patientID" [(ngModel)]="bill.patient.id" name="patientID" #patient="ngModel" [ngClass]="{'is-invalid':b.submitted&&patient.invalid}" required>
                <div class="invalid-feedback">PatientId is required</div>
            </div>
            <div class="form-group">
                <label>Amount::</label>
                <input type="text" class="form-control" id="amount" [(ngModel)]="bill.totalAmount" name="amount"  #amount="ngModel" [ngClass]="{'is-invalid':b.submitted&& amount.invalid}" required>
                <div class="invalid-feedback">Please fill the amount</div>
            </div>
            <div class="form-group">
                <label>Date & Time::</label>
                <input type="datetime-local" class="form-control" id="date" [(ngModel)]="bill.billDate" name="date"  #dob="ngModel" [ngClass]="{'is-invalid':b.submitted&&dob.invalid}" required>
                <div class="invalid-feedback">Date & Time is required</div>
            </div>
            <div class="form-group">
                <label>Status::</label>
                <!-- <input type="text" class="form-control" id="status" [(ngModel)]="bill.paymentStatus" name="status"  #status="ngModel" [ngClass]="{'is-invalid':b.submitted&&patient.invalid}" required> -->
                <select name="status" id="status" class="form-control" type="text" [(ngModel)]="bill.paymentStatus" #status="ngModel" [ngClass]="{'is-invalid':b.submitted && status.invalid}" required>
                    <option value="">select</option>
                    <option value="Paid">Payment completed</option>
                    <option value="Balance">Not paid</option>
                    <option value="pending">pending</option>
                </select>
                <div class="invalid-feedback">Status is required ,please select one</div>
            </div>
            <br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button class="btn btn-success" style="opacity: 100%; width: 30%;" type="submit">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" style="opacity: 100%; width: 30%;" type="reset">Cancel</button>
            <br>
        </form>
    </div>
</body>
<app-footer></app-footer>
</html>
