<footer>
    <div class="footer bg-info text-white" style="position:static; padding: 19px 15px 20px; padding-bottom: 3%;" >
      All Rights Are Reserved Under @2023 Regulations by Hygegia Corporations.
      
       
          
<!-- 
              <div class="social-media-icon">
                  <a href="https://twitter.com/example">
                    <i class="fab fa-twitter"></i>
                  </a></div>
                  <div class="social-media-icon">
                  <a href="https://twitter.com/example">
                    <i class="fab fa-google"></i>
                  </a></div>
                  <div class="social-media-icon">
                  <a href="https://twitter.com/example">
                    <i class="fab fa-instagram"></i>
                  </a></div>
                  <div class="social-media-icon">
                  <a href="https://twitter.com/example">
                    <i class="fab fa-facebook-f"></i>
                  </a></div> -->

                  
                   
                  
      
             
          </div>
          
    </footer>
