
<header>
  <div class="header">
      <nav  class="navbar navbar-expand-lg  bg-info   justify-content-between list-style-type: none ; ">
       
    

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
  
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"> <a class="nav-link" style="font-size: x-large; font-family: 'Times New Roman', Times, serif; font-weight: bolder;  padding-left: 0px; font-variant: normal;">  PATIENT  DASHBOARD </a></li>
      <li><a class="nav-link" routerLink="/addAppointment" routerLinkActive="active" style="font-size: x-large; font-family: 'Times New Roman', Times, serif;padding-left: 600px; ">APPOINTMENTS</a></li>
      
      <li> <a class="nav-link" routerLink="/login" routerLinkActive="active" style="font-size: x-large; font-family: 'Times New Roman', Times, serif; padding-left: 60px;"> LOGOUT</a></li>
      <li> <a class="btn btn-dark" style="padding-left: 50px;" (click)="pro()">PROFILE</a></li>

    </ul>
  </div>
</nav>
</nav>
</div>
</header>
<div home-h1>
  <img src="../../assets/patienthome1.jpeg" class="d-block w-100" alt="imgHospital">
</div>
<div home-h1>
  <img src="../../assets/patienthome2.jpeg" class="d-block w-100" alt="imgHospital">
</div>
<div home-h1>
  <img src="../../assets/patienthome3.jpeg" class="d-block w-100" alt="imgHospital">
</div>
<div home-h1>
  <img src="../../assets/patienthome4.jpeg" class="d-block w-100" alt="imgHospital">
</div>
<div home-h1>
  <img src="../../assets/patienthome5.jpeg" class="d-block w-100" alt="imgHospital">
</div>

<!-- <app-patient-list></app-patient-list> -->


 


<app-footer></app-footer>




