<header>
    <div class="header">
        <nav  class="navbar navbar-expand-lg  bg-info   justify-content-between list-style-type: none ; ">
         
      

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      
    
      <ul class="nav navbar-nav navbar-right">
        <!-- <li class="nav-item"> <a class="nav-link" style="font-size: x-large; font-family: 'Times New Roman', Times, serif; font-weight: bolder;  padding-left: 0px; font-variant: normal;"> WELLCOME  BACK DOCTOR ....</a></li> -->
        <li> <a class="btn btn-dark" style="padding-left: 70px;" (click)="doc()"> DOCTOR PROFILE</a></li>
        <li> <a class="nav-link" routerLink="/doctorHome" routerLinkActive="active" style="font-size: x-large; font-family: 'Times New Roman', Times, serif;padding-left: 700px; "> DASHBOARD</a></li>
        
        <li><a class="nav-link"  routerLink="/docHome" routerLinkActive="active" style="font-size: x-large; font-family: 'Times New Roman', Times, serif; padding-left: 50px;" >HOME</a></li>
        <li> <a class="nav-link" routerLink="/login" routerLinkActive="active" style="font-size: x-large; font-family: 'Times New Roman', Times, serif; padding-left: 60px;"> LOGOUT</a></li>

   
        
      </ul>
    </div>
  </nav>
  </nav>
  </div>
  </header>


<div>
    <div>
        <img src="../../assets/docthome3.jpeg" class="d-block w-100" alt="imgHospital">
    </div>
    
</div>



<div>
    <div>
        <img src="../../assets/doctorhome4.jpeg" class="d-block w-100" alt="imgHospital">
    </div>
    
</div>
<div>
    <div>
        <img src="../../assets/doctorhome.jpeg"class="d-block w-100" alt="imgHospital" >
    </div>
    
</div>

<div>
    <div>
        <img src="../../assets/doctorhome5.jpeg" class="d-block w-100" alt="imgHospital">
    </div>
    
</div>
<div>
    <div>
        <img src="../../assets/doctorhome1.jpeg" class="d-block w-100" alt="imgHospital">
    </div>
    
</div>
<app-footer></app-footer>