<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<app-header></app-header>
  <body>
   
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
      </div>
     
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../assets/h1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../assets/h2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="../../assets/ms1.jpg " style="background-color: gray;" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/h3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../assets/h5.jpg" class="d-block w-100" alt="...">
      
    </div>
    <button class="carousel-control-prev btn-primary" style="text-align: center;" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn-primary" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>
  <div home-h1>
    <img src="../../assets/ms2.jpg" class="d-block w-100" alt="imgHospital">
  </div>
  
  
    
    </div>
    <div>
      <!-- <app-gallery></app-gallery> -->
      
    </div>
    <hr>
    <div>
    <footer class="bg-info text-white text-center" style="padding: 19px 15px 20px; " >
      All Rights Are Reserved Under @2023 Regulations by Hygegia Corporations.
   </footer>
   </div> 
  
  </body>
  </html>